body{
    background-image: url(Imagens/fundo.png);
    font: 16px Arial;
}

div#principal{
    width: 796px;
    height: 28;
    margin: auto;
    
}

a{
    text-decoration: none;
    color: #81DAF5;
    padding: 5px;
    font-weight: bold;
    display: inline;
    transition: 1s;
}

a:hover{
    color: #000000;
}

#menu{
    background-color: white;
    padding: 5px;
    text-align: center;

}

#conteudo{
    background-color: #E0E6F8;
    padding: 10px;
}

h1{
    color: #828271;
    font-size: 1.2em;
}
p{
    text-align: justify;
}